<div id="heading">There are <%= @users.length %> users in here</div>
<%= @city1 %>


<table>
  <tr>
    <th>user id</th>
    <th>User Name</th>
    <th>User Email</th>
    <th>User Age</th>
    <th>User Gender</th>
    <th>User Name again</th>
    <th>Hobby</th>
    <th></th>

  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.age %></td>
    <td><%= user.gender %></td>
    <td><%= user.name %></td>
    <td>
      <% user.hobbies.each do |h| %>
        <%= h.hobby %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
